* {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

html {
  background-color: #161616;

}
body {
  width: 100%;
  margin: 0 auto;
  border: black 1px solid;
}

.banner {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 1em;
  background-color: #343C4B;
}

.banner .iconfont {
  font-size: 1.2em;
  color: white;
}

.page-title {
  flex-grow: 1;
  margin-left: 1.5em;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.rolling-pics img {
  display: block;
  width: 100%;
}

.dot-collection {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.8em;
  padding-right: 1em;
  padding-bottom: 0.6em;
}

.dot {
  width: 0.6em;
  height: 0.6em;
  margin: 0.3em;
  border-radius: 50%;
  background-color: white;
  opacity: 30%;
}

.dot:last-child {
  opacity: 80%;
}

.course-list {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  align-items: center;
  background-color: white;
}

.course {
  width: 80%;
  padding: 0.5em;
  margin: 0.25em auto;
  border: 1px solid rgb(230,230,230);
  border-radius: 1.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.course:nth-child(2) {
  background-color: red;
  color: white;
}
